<h1><%=@board.name%></h1>
<%=link_to "Edit Board Name", edit_board_path(@board), class: 'huge ui button'%>
<%=link_to "Delete Board", @board, method: :delete, class: 'huge ui button'%>
<%=link_to 'New List', new_board_list_path(@board), class: 'huge ui button'%>  
<hr />
<ul>
    <% @lists.each do |list|%>
    <li>
        <%=list.name%> 
        <br />
        <%=link_to "Edit List Name", edit_board_list_path(@board, list), class: 'huge ui button' %>
        <%=link_to "Delete List", board_list_path(@board, list), method: :delete, class: 'huge ui button'%>
        <%=link_to "Add Task", new_list_task_path(list),class: 'huge ui button'%>
    </li>
    <br />
        <ul>
            <%list.tasks.each do |task| %>
            <li>
            Task Name: <%=task.name%> <br />
            Task Description: <%=task.body%> <br />
            <%=link_to "Edit Task", edit_list_task_path(list, task), class: 'huge ui button' %>
            <%=link_to "Delete Task", list_task_path(list, task), method: :delete, class: 'huge ui button'%>
            </li>
            <% end %>
        </ul>
        
    <% end %>
</ul>
 
